

.serviceCard:first-child{
    margin-left: 1000px;
}
.serviceCard{
    min-width: 45vh;
    min-height: 60vh;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}